<nav>
        <h1>nav</h1>

        <ul>
            <li><a href="/index" > home  </a> </li>

            <li><a href="/userSelect" > updateuser </a> </li>

            <li><a href="/userinformation" > userinfo </a> </li>

            <li><a href="/userBlogs" > userBlogs </a> </li>

            

        </ul>
</nav>