 <link rel="stylesheet" href="/css/stylePages.css">

<nav>
        <h1>nav</h1>
      <div class= "navlinks">
        <ul>
            <li><a href="/" > home  </a> </li>

            <li><a href="/loginPage" > login </a> </li>

            <li><a href="/register" > register </a> </li>

            <li><a href="/userSelect" > updateuser </a> </li>

            <li><a href="/userinformation" > userinfo </a> </li>

            <li><a href="/userBlogs" > userBlogs </a> </li>
            
        </ul>
      </div>
</nav>