 <link rel="stylesheet" href="/css/stylePages.css">

<nav class="container">
    <a class="nav" href="/">
        <li>Home</li>
    </a>
    {{#if loggedIn}}
    <a class="nav" href="/profile/:userId">
        <li>profile</li>
    </a>
    <a class="nav" href="/allUsers">
        <li>All Users</li>
    </a>
    <a class="nav" href="/blogPosts">
        <li>All Blog Posts</li>
    </a>
    {{else}}
    <a class="nav" href="/register">
        <li>Register</li>
    </a>
    {{/if}}
    {{#if loggedIn}}
    <a class="nav" href="/logout">
        <li>Log Out</li>
    </a>
    {{else}}
    <a class="nav" href="/loginPage">
        <li>Log In</li>
    </a>
    {{/if}}
</nav>