<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>create blog</h1>

<form action="/createBlog/{{userId}}" method="POST">
    

   <input type="text" name="title" id="title"  />

   <textarea id="body" class="text" cols="86" rows="20" name="body" ></textarea>

 
    <button type="submit"> submit your blog</button>

</form>


</body>
</html>


