<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <title>Reg Page</title>
</head>
<body>

    {{>nav}}

    <h1>Register User</h1>
    <div class = "flex" >
        <form action="/registerUser" method="POST">
    
            <label for="userName">Name</label>
            <input type="text" name="userName" id="userName" /><br />
    
    
            <label for="userAge">age</label>
            <input type="text" name="userAge" id="userAge" /><br />
    
    
            <label for="userLocation">location</label>
            <input type="text" name="userLocation" id="userLocation" /><br />
    
            <label for="userEmail">email</label>
            <input type="text" name="userEmail" id="userEmail" /><br />

            {{!-- <label for="userPassword">email</label>
            <input type="text" name="userPassword" id="userPassword" /><br /> --}}
    
    
            <button type="submit"> submit user </button>
    
        </form>
    </div>
        

         
       
    
        
    
</body>
</html>